In [ ]:
# Importing The Dependencies

In [1]:
import numpy as np  #used to create numpy arrays
import pandas as pd #pandas is used to create dataframes
from sklearn.preprocessing import StandardScaler #StandardScaler used for standardise the data into common range
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

# Data Collection and Analysis

In [58]:
#Loading the diabetes dataset to a pandas dataframe
diabetes_dataset = pd.read_csv("diabetes.csv")
print(diabetes_dataset.head(40))

    Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0             6      148             72             35        0  33.6
1             1       85             66             29        0  26.6
2             8      183             64              0        0  23.3
3             1       89             66             23       94  28.1
4             0      137             40             35      168  43.1
5             5      116             74              0        0  25.6
6             3       78             50             32       88  31.0
7            10      115              0              0        0  35.3
8             2      197             70             45      543  30.5
9             8      125             96              0        0   0.0
10            4      110             92              0        0  37.6
11           10      168             74              0        0  38.0
12           10      139             80              0        0  27.1
13            1      189             60             23      846  30.1
14            5      166             72             19      175  25.8
15            7      100              0              0        0  30.0
16            0      118             84             47      230  45.8
17            7      107             74              0        0  29.6
18            1      103             30             38       83  43.3
19            1      115             70             30       96  34.6
20            3      126             88             41      235  39.3
21            8       99             84              0        0  35.4
22            7      196             90              0        0  39.8
23            9      119             80             35        0  29.0
24           11      143             94             33      146  36.6
25           10      125             70             26      115  31.1
26            7      147             76              0        0  39.4
27            1       97             66             15      140  23.2
28           13      145             82             19      110  22.2
29            5      117             92              0        0  34.1
30            5      109             75             26        0  36.0
31            3      158             76             36      245  31.6
32            3       88             58             11       54  24.8
33            6       92             92              0        0  19.9
34           10      122             78             31        0  27.6
35            4      103             60             33      192  24.0
36           11      138             76              0        0  33.2
37            9      102             76             37        0  32.9
38            2       90             68             42        0  38.2
39            4      111             72             47      207  37.1

    DiabetesPedigreeFunction  Age  Outcome
0                      0.627   50        1
1                      0.351   31        0
2                      0.672   32        1
3                      0.167   21        0
4                      2.288   33        1
5                      0.201   30        0
6                      0.248   26        1
7                      0.134   29        0
8                      0.158   53        1
9                      0.232   54        1
10                     0.191   30        0
11                     0.537   34        1
12                     1.441   57        0
13                     0.398   59        1
14                     0.587   51        1
15                     0.484   32        1
16                     0.551   31        1
17                     0.254   31        1
18                     0.183   33        0
19                     0.529   32        1
20                     0.704   27        0
21                     0.388   50        0
22                     0.451   41        1
23                     0.263   29        1
24                     0.254   51        1
25                     0.205   41        1
26                     0.257   43        1
27                     0.487   22        0
28                     0.245   57        0
29                     0.337   38        0
30                     0.546   60        0
31                     0.851   28        1
32                     0.267   22        0
33                     0.188   28        0
34                     0.512   45        0
35                     0.966   33        0
36                     0.420   35        0
37                     0.665   46        1
38                     0.503   27        1
39                     1.390   56        1

In [8]:
pd.read_csv?  #gives the information

SyntaxError: invalid syntax (<ipython-input-8-d4ee9870be8e>, line 1)

In [5]:
#Printing the first 5 rows of the dataset
diabetes_dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
#DiabetesPedigreeFunction represents the rate of diabetes
#1 represents the patient is diabetic
#0 represents the patient is not diabetic

In [6]:
#Number of rows and columns in the dataset
diabetes_dataset.shape  #768 people

(768, 9)

In [7]:
#Getting the statistical measures of the data
diabetes_dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [9]:
diabetes_dataset['Outcome'].value_counts()   #500 people are non_diabetic peoples
                                             #268 people are diabetic people

0    500
1    268
Name: Outcome, dtype: int64

In [10]:
diabetes_dataset.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [11]:
#Separating the data and labels
X = diabetes_dataset.drop(columns = 'Outcome' ,axis = 1 )  #axis = 1 means dropping a column , axis = 0 means dropping a row
Y = diabetes_dataset['Outcome']

In [60]:
print(X)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [13]:
print(Y)

0      1
1      0
2      1
3      0
4      1
5      0
6      1
7      0
8      1
9      1
10     0
11     1
12     0
13     1
14     1
15     1
16     1
17     1
18     0
19     1
20     0
21     0
22     1
23     1
24     1
25     1
26     1
27     0
28     0
29     0
      ..
738    0
739    1
740    1
741    0
742    0
743    1
744    0
745    0
746    1
747    0
748    1
749    1
750    1
751    0
752    0
753    1
754    1
755    1
756    0
757    1
758    0
759    1
760    0
761    1
762    0
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

# Data Standardization

In [14]:
#Standardize the data for better understating of machine to make better predictions
scaler = StandardScaler()

In [15]:
#Fitting the data into the scaler
scaler.fit(X)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [16]:
#Transforming of the data
standardized_data = scaler.transform(X)

In [ ]:
# for fitting and transforming the data
# scaler.fit_transform(X)

In [62]:
print(standardized_data)  #all the values in between 0's and 1's

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [18]:
# printing of X data after standardization , and precious Y data
X = standardized_data
Y = diabetes_dataset['Outcome']  # X represents the data and Y represents the model

In [19]:
print(X)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [20]:
print(Y)

0      1
1      0
2      1
3      0
4      1
5      0
6      1
7      0
8      1
9      1
10     0
11     1
12     0
13     1
14     1
15     1
16     1
17     1
18     0
19     1
20     0
21     0
22     1
23     1
24     1
25     1
26     1
27     0
28     0
29     0
      ..
738    0
739    1
740    1
741    0
742    0
743    1
744    0
745    0
746    1
747    0
748    1
749    1
750    1
751    0
752    0
753    1
754    1
755    1
756    0
757    1
758    0
759    1
760    0
761    1
762    0
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [21]:
#Splitiing the data into training data and testing data
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.2 , stratify = Y ,random_state = 2)
#X data split into two arrays X_train and X_test . 
#Once the model is trained we will evaluate our data with X_test data.
#Train our machine learning model with X_train data.
#making predictions on unknown data
#Y_train represents all the labels for X_train
#Y_test  represents all the labels for X_test
#X,Y are the attributes of the old data
#0.2 represents 20% of the data. This is for mentioning how much percentage of the data you want for test data
#strater the data based on Y(similar proportion diabetic and non_diabetic has done in original data_set)
#random_state is the index or serial number for the particular splitting of the data

In [22]:
print(X.shape,X_train.shape,X_test.shape)  #614 are used for training the data and 154 are used for testing the data

(768, 8) (614, 8) (154, 8)

# Training the model

In [23]:
classifier = svm.SVC(kernel = 'linear') #load the svm model into the classifier variable

In [24]:
#training the support vector machine classifier
classifier.fit(X_train,Y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

# Model Evaluation

# Evaluating the model(check how many times our model is predicting correctly)

In [25]:
# Accuracy Score 
#predicting accuracy score on the training data 
X_train_prediction = classifier.predict(X_train)#predict all the labels for X_train and stores in the X_train_prediction variable
training_data_accuracy = accuracy_score(X_train_prediction,Y_train)

In [28]:
print('Accuracy score of the training data:',training_data_accuracy)  #78.6 nearly to 79. out of the 100 predictions our model is predicting 79 times the correct prediction

Accuracy score of the training data: 0.7866449511400652

In [29]:
# Accuracy Score 
#predicting accuracy score on the testing data 
X_test_prediction = classifier.predict(X_test)#predict all the labels for X_train and stores in the X_train_prediction variable
testing_data_accuracy = accuracy_score(X_test_prediction,Y_test)

In [30]:
print('Accuracy score of the testing data:',testing_data_accuracy)  #77 for test data it is not overtrained

Accuracy score of the testing data: 0.7727272727272727

# Making a predictive system

In [81]:
#feeding the data into machine learning model
input_data = (5,116,74,0,0,25.6,0.201,30)
#changing input_data into numpy array
input_data_as_numpy_array = np.asarray(input_data)
#reshaping the array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1) #we are not giving 768 examples .we are giving only one example.
# standardize the input data
std_data = scaler.transform(input_data_reshaped)
print(std_data)
prediction = classifier.predict(std_data)
print(prediction)
if prediction[0] == 0:
    print('The person is not Diabetic')
else:
    print('The person is Diabetic')

[[ 0.3429808  -0.15318486  0.25303625 -1.28821221 -0.69289057 -0.81134119
  -0.81807858 -0.27575966]]
[0]
The person is not Diabetic

# Saving the trained model

In [67]:
import pickle

In [68]:
filename = 'trained_model.sav'
pickle.dump(classifier,open(filename,'wb'))  #wb = writing the binary formate

In [69]:
#loading the saved model
loaded_model = pickle.load(open('trained_model.sav','rb'))  #used to load the saved model , rb = reading the binary formate

In [84]:
input_data = (5,116,74,0,0,25.6,0.201,30)
#changing input_data into numpy array
input_data_as_numpy_array = np.asarray(input_data)
#reshaping the array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1) #we are not giving 768 examples .we are giving only one example.
prediction = loaded_model.predict(input_data_reshaped )
print(prediction)
if prediction[0] == 0:
    print('The person is not Diabetic')
else:
    print('The person is Diabetic')

[1]
The person is Diabetic